@model List<Usuario>
@{

}

<h2 class="text-center mb-5"> Usuarios</h2>

<div class="row mb-5">
    <div class="col">
        <a class="bnt btn-primary asp-controller"Usuario" asp-action="Crear">Nuevo Usuario</a>
    </div>
    <div class="col">

    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Contraseña</th>
            <th>Accion</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var usuario in Model)
        {
            <tr>
                <td>@usuario.id</td>
                <td>@usuario.usu</td>
                <td>@usuario.email</td>
                <td>@usuario.pass</td>
                <td><img src="/usuarios/@usuario.Img" width="100" /></td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.id">Editar</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Usuario" asp-action="Eliminar" asp-route-id="@usuario.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>